<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="endpoint" value="https://rafat-iot-cosmos.documents.azure.com:443/" />
    <add key="authKey" value="hF6Qbyx82OCFXnfD4X2K7Hsoqq@@@@@@@@@@QKVN251gYN3pkA==" />
    <add key="database" value="db" />
    <add key="collection" value="demo" />
  </appSettings>
</configuration>